@charset "UTF-8";

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Heavy.woff2") format("woff2"), url("../fonts/SFProText-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Light.woff2") format("woff2"), url("../fonts/SFProText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Medium.woff2") format("woff2"), url("../fonts/SFProText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Bold.woff2") format("woff2"), url("../fonts/SFProText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"), url("../fonts/SFProText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProText;
  font-display: swap;
  src: url("../fonts/SFProText-Semibold.woff2") format("woff2"), url("../fonts/SFProText-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=ibg_contain-] img {
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --black: #323232;
  --white: #ffffff;
  --yellow: #FDBF47;
  --cyan: #34A8E0;
  --cyanLight: #EDF7FD;
  --purple: #B349C5;
  --purpleLight: #F9EDFC;
  --violet: #7948EC;
  --violetLight: #F2ECFF;
  --orange: #FE8700;
  --orangeLight: #FFF4E8;
  --green: #24B07C;
  --greenLight: #E2F5EF;
  --gray: #7C7C7C;
  --grayDisabled: #D0D0D0;
  --blueDivider: #F1F1FA;
  --blueLight: #E5E5FF;
  --blue: #4957D3;
  --red: #D34949;
  --redLight: #FFE5E5;
}

.wrapper {
  max-height: 100%;
  max-width: 480px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  font-family: SFProText;
  position: relative;
  background: var(--white);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper.popup-open::before {
  content: "";
  background: rgba(50, 50, 50, 0.3490196078);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body-sm {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--black);
}

.body-md {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: var(--black);
}

.body-lg {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: var(--black);
}

.label-sm {
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.label-md {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.label-lg {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.title-sm {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.title-md {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.title-lg {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
}

.head-sm {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.head-md {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}

.head-lg {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 64px;
}

.main-nav a.goback {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56px;
  height: 56px;
  background: var(--violet);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn-sm svg {
  width: 24px;
  height: 24px;
}

.btn-sm.disabled {
  background: var(--grayDisabled);
}

.btn-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 56px;
  background: var(--violet);
  border-radius: 14px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
  border: none;
}

.btn-lg:hover,
.btn-lg.loaded {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: var(--violetLight);
  color: var(--violet) !important;
}

.btn-dang {
  background: var(--redLight);
  color: var(--red);
}

.btn-lg.disabled {
  background: var(--grayDisabled);
}

.input-row {
  width: 100%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.input-row .action {
  position: absolute;
  right: 18px;
  bottom: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 24px;
  height: 24px;
}

.input-row label {
  display: block;
  margin-bottom: 8px;
}

.input-row input {
  font-family: SFProText;
  height: 56px;
  width: 100%;
  border-radius: 14px;
  padding: 15px;
  background: var(--blueDivider);
  color: var(--black);
}

.input-row textarea {
  width: 100%;
  height: 112px;
  padding: 15px;
  resize: none;
  background: var(--blueDivider);
  font-family: SFProText;
}

.input-row input::-webkit-input-placeholder, .input-row textarea::-webkit-input-placeholder {
  color: var(--gray);
}

.input-row input::-moz-placeholder, .input-row textarea::-moz-placeholder {
  color: var(--gray);
}

.input-row input:-ms-input-placeholder, .input-row textarea:-ms-input-placeholder {
  color: var(--gray);
}

.input-row input::-ms-input-placeholder, .input-row textarea::-ms-input-placeholder {
  color: var(--gray);
}

.input-row input::placeholder,
.input-row textarea::placeholder {
  color: var(--gray);
}

.input-row input:focus {
  outline: none;
  border: 1px solid var(--cyan);
}

:root {
  --black: #323232;
  --white: #ffffff;
  --yellow: #FDBF47;
  --cyan: #34A8E0;
  --cyanLight: #EDF7FD;
  --purple: #B349C5;
  --purpleLight: #F9EDFC;
  --violet: #7948EC;
  --violetLight: #F2ECFF;
  --orange: #FE8700;
  --orangeLight: #FFF4E8;
  --green: #24B07C;
  --greenLight: #E2F5EF;
  --gray: #7C7C7C;
  --grayDisabled: #D0D0D0;
  --blueDivider: #F1F1FA;
  --blueLight: #E5E5FF;
  --blue: #4957D3;
  --red: #D34949;
  --redLight: #FFE5E5;
}

header.map-header {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 3;
}

header.map-header .container {
  height: 100%;
}

header.map-header .map-nav {
  width: 100%;
  height: 100%;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 14px;
  padding: 4px;
}

header.map-header a {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--white);
  color: var(--black);
  border-radius: 12px;
}

header.map-header a.active {
  background: var(--violet);
  color: var(--white);
}

footer {
  background: var(--white);
  -webkit-box-shadow: 0px -4px 24px 0px rgba(129, 129, 129, 0.2);
          box-shadow: 0px -4px 24px 0px rgba(129, 129, 129, 0.2);
  border-top: 1px solid var(--blueDivider);
  max-width: 480px;
  width: 100%;
  border-radius: 14px 14px 0px 0px;
  border-top: 1px solid var(--blueDivider);
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

footer.bottom-menu a {
  height: 100%;
  width: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer.bottom-menu a.active svg path {
  fill: var(--violet);
}

footer.bottom-menu a.active span {
  color: var(--violet);
}

footer.bottom-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  padding-right: 16px;
  z-index: 2;
  bottom: 96px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  gap: 8px;
  max-width: 480px;
  width: 100%;
}

.pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50px;
  background: var(--white);
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1490196078);
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  will-change: transform;
  cursor: pointer;
}

.pin .date {
  color: var(--gray);
}

.pin .date span {
  color: var(--violet);
}

.pin svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pin .content {
  height: 100%;
  width: 100%;
  width: 0;
  height: 0;
  opacity: 0;
  -ms-touch-action: none;
      touch-action: none;
}

.pin.active {
  width: 200px;
  gap: 8px;
}

.pin.active .content {
  height: 100%;
  width: 100%;
  opacity: 1;
  -ms-touch-action: auto;
      touch-action: auto;
}

.map {
  width: 100%;
  height: 100%;
}

.mapboxgl-popup {
  position: absolute;
  z-index: 4;
  top: 52px;
  left: 50%;
  width: calc(100% - 32px);
  padding: 15px;
  background: var(--white);
  border: 1px solid var(--blueDivider);
  border-radius: 14px;
  -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  max-width: 100% !important;
}

.mapboxgl-popup .mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup .popup-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--blueDivider);
}

.mapboxgl-popup .popup-headline .popup-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--orange);
}

.mapboxgl-popup .popup-headline .popup-time {
  color: var(--violet);
}

.mapboxgl-popup .popup-desc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.mapboxgl-popup .popup-desc .popup-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.mapboxgl-popup .popup-desc p {
  color: var(--gray);
}

.mapboxgl-popup .popup-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.mapboxgl-popup .popup-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.mapboxgl-popup .popup-members .members-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mapboxgl-popup .popup-members .members-images img:not(:first-child) {
  display: block;
  margin-left: -10px;
}

.mapboxgl-popup .popup-btn {
  color: var(--white);
}

.mapboxgl-popup .popup-members .members-count {
  color: var(--violet);
}

.search a.action.remove {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search-nav {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-results {
  width: 100%;
}

.search-results .results-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.search-results .results-item .results-content {
  width: 100%;
}

.search-results .results-item .results-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.search-results .results-item .results-goto {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.marker {
  background: #000;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.search-popup,
.filter-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background: var(--white);
  display: none;
}

.filter-popup .filter-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.filter-popup .input-row {
  padding-bottom: 15px;
}

#date::-webkit-calendar-picker-indicator {
  background-image: url("img/calendar-v.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
  opacity: 1;
}

.filter-popup .cats-headline {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.filter-popup .head-sm {
  width: 100%;
}

.filter-popup .cats-headline .cats-count {
  padding-right: 8px;
  color: var(--violet);
}

.filter-popup .filter-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.filter-popup .filter-cats input {
  display: none;
}

.filter-popup .filter-cats label {
  padding: 6px 16px;
  background: var(--blueDivider);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--black);
  cursor: pointer;
}

.filter-popup .filter-cats label svg {
  display: none;
}

.filter-popup .filter-cats input:checked + label {
  background: var(--violet);
  color: var(--white);
}

.filter-popup .filter-cats input:checked + label svg {
  display: block;
}

.filter-popup .filter-submit {
  position: absolute;
  bottom: 50px;
  right: 16px;
}

footer.event-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

footer.event-menu .btn-invite {
  color: var(--white);
}

footer.event-menu .btn-invite.btn-dang {
  color: var(--red);
}

.event-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--blueDivider);
}

.event-headline .event-author p {
  color: var(--violet);
}

.event-content {
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--blueDivider);
}

.event-content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.event-content p {
  color: var(--gray);
  padding-bottom: 10px;
}

.event-content .event-images {
  width: 480px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.event-content .event-images::-webkit-scrollbar {
  display: none;
}

.event-content .event-images img {
  width: 100px;
  height: 150px;
  display: block;
  border-radius: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.event-detale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.event-detale .event-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.event-detale .event-date span {
  padding-left: 3px;
}

.event-detale .event-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.event-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 170px;
  overflow: hidden;
  gap: 8px;
  padding: 10px 0;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
}

.event-members.active {
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  height: auto;
}

.event-members .event-members-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.event-members .event-members-item .event-members-avatar {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 8px;
}

.event-members .event-members-item .event-members-chat {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.event-members-more {
  color: var(--violet);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 100px;
}

.event-members-more svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.event-members-more.active svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.calendar-title {
  display: block;
  padding: 30px 0 20px 0;
}

.calendar {
  border-radius: 14px;
  border: 1px solid var(--blueDivider);
  background: var(--white);
  font-family: SFProText;
  overflow: hidden;
}

.calendar button {
  font-family: SFProText;
}

.calendar .vanilla-calendar-header {
  padding: 16px;
  position: relative;
}

.calendar .vanilla-calendar-wrapper,
.calendar .vanilla-calendar-wrapper .vanilla-calendar-content {
  width: 100%;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  padding: 0 16px;
  width: 100%;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-week,
.vanilla-calendar-week__day {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: var(--gray);
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days {
  border-top: 1px solid var(--blueDivider);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day {
  border: 1px solid var(--blueDivider);
  border-width: 0px 1px 1px 0px;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day::before {
  content: "";
  padding-top: 100%;
  float: left;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.vanilla-calendar-day__btn_weekend {
  color: var(--purple);
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.vanilla-calendar-day__btn_today {
  background: #f6f6f6;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.has-event::after {
  content: "";
  background: var(--violet);
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.vanilla-calendar-day__btn_next,
.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.vanilla-calendar-day__btn_prev {
  display: none;
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day button.vanilla-calendar-day__btn_selected {
  background: var(--violetLight);
  color: var(--violet);
}

.calendar .vanilla-calendar-wrapper .vanilla-calendar-content .vanilla-calendar-days .vanilla-calendar-day:nth-last-child(-n+7) {
  border-bottom: none;
}

.calendar .vanilla-calendar-header .vanilla-calendar-arrow_next {
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calendar .vanilla-calendar-header .vanilla-calendar-arrow_prev {
  right: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.calendar .vanilla-calendar-header .vanilla-calendar-arrow {
  background: url("../img/right-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
}

.calendar .vanilla-calendar-header .vanilla-calendar-header__content .vanilla-calendar-month,
.calendar .vanilla-calendar-header .vanilla-calendar-header__content .vanilla-calendar-year {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--violet);
}

.calendar .vanilla-calendar-header .vanilla-calendar-header__content .vanilla-calendar-year {
  padding-left: 5px;
}

.calendar-events-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--orange);
  padding: 15px 0 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.calendar-events {
  padding-bottom: 170px;
}

.calendar-events p {
  color: var(--gray);
  padding-top: 15px;
}

.calendar-events .calendar-events-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid var(--blueDivider);
}

.calendar-events .calendar-events-item .calendar-events-content {
  padding-left: 8px;
}

.calendar-events .calendar-events-item .calendar-events-actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.calendar-events .calendar-events-item:last-child {
  border: none;
}